* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Modificăm direcția flexbox la verticală */
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    margin-top: 1em;
    width: 300px;
    text-align: justify;
}